/*失去焦点时的样式*/
.under_line {
	border-color: #FFFFFF #FFFFFF #B5B8C8 #FFFFFF;
	background: none;
}

/*文本框去掉所有边框*/
.no_line {
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	background: none;
}

/*获得焦点时的样式background: #FFFFFF url(images/text-bg.gif) repeat-x scroll 0 0;*/
.surround {
	border: 1px solid #7EADD9;
}

.red {
	color: red;
}

.col1 {
	float: left;
	width: 90px;
}

.col2 {
	float: left;
	width: 225px;
}

.col3 {
	float: left;
	width: 300px;
}
fieldset{
	/**padding:10px;
	margin:10px;
	width:270px;*/
	color:#333;
	border:0.5px solid #B3E2FF;
}
legend{
	color:#06c;
	font-weight:800;
	background:#fff;
}
