<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache-3.1.xsd"
	default-lazy-init="true" default-autowire="byName" >
	
	<bean class="org.operamasks.faces.spring30.ManagedBeanConfigurer" />
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	 
	<context:annotation-config/>
	<context:component-scan base-package="com.scp.dao" />
	<context:component-scan base-package="com.scp.service"/>
	<context:component-scan base-package="com.scp.activemq" />
	
	<context:component-scan base-package="com.ufms.web" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.PostgreSQLDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<!-- Drop and re-create the database schema on startup -->
			</props>
		</property>
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"
		scope="singleton">
		<property name="configLocation" value="classpath:sql-map-config.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="useTransactionAwareDataSource" value="true"></property>
		<property name="mappingLocations" value="classpath:com/scp/**/ibatis-*.xml"><!-- 注意下面的通配符配置方式-->
		</property>
	</bean>
	
	
	<bean id="sqlMapClientMySql" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"
		scope="singleton">
		<property name="configLocation" value="classpath:sql-map-config.xml" />
		<property name="dataSource" ref="dzzDataSource" />
		<property name="useTransactionAwareDataSource" value="true"></property>
		<property name="mappingLocations" value="classpath:com/scp/**/ibatis-*.xml">
		</property>
	</bean>
	
<bean id="hibTtrMgr"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" /> 
	</bean>
	
	<!--事务模板 -->  
    <bean id="hibTtrTemplate"  
        class="org.springframework.transaction.support.TransactionTemplate">  
        <property name="transactionManager">  
            <ref local="hibTtrMgr" />  
        </property>  
        <!--ISOLATION_DEFAULT 表示由使用的数据库决定  -->  
        <property name="isolationLevelName" value="ISOLATION_DEFAULT"/>  
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"/>  
    </bean>
    
	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager">
			<ref local="hibTtrMgr" /> 
		</property>
	</bean>

	<context:property-placeholder location="classpath:amq.properties,classpath:redis.properties" /> 

	<import resource="applicationContext-ds-druid-cimc.xml" />
	
	<import resource="applicationContext-aop.xml" /> 
	<import resource="applicationContext-rmi.xml"/>

	<bean id="applicationConf" class="com.scp.base.ApplicationConf" lazy-init="false">
		<property name="debug" value="true" />
		<property name="autoFillLs" value="false" />
		<property name="readOnlyDB" value="false" />
		<property name="isUseDzz" value="false" />
		<property name="isStartActiveMq" value="false" />
	</bean>

</beans>
