<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	default-lazy-init="true" >
	
	<context:annotation-config/>
	
	<!--<aop:config proxy-target-class="true"/>
	
    -->
    <bean id="daoCreateInterceptor" class="com.scp.aop.DaoCreateInterceptor" scope="singleton"/>
	<aop:config>
		<aop:aspect id="daoInsertAspect" ref="daoCreateInterceptor">
			<aop:before method="doBasicProfiling"
				pointcut="execution(public * com.scp.dao..*.create(..))" />
		</aop:aspect>
	</aop:config>
	
	<bean id="daoUpdateInterceptor" class="com.scp.aop.DaoUpdateInterceptor" scope="singleton"/>
	<aop:config>
		<aop:aspect id="daoUpdateAspect" ref="daoUpdateInterceptor">
			<aop:before method="doBasicProfiling"
				pointcut="(execution(public * com.scp.dao..*.modify(..))) or (execution(public * com.scp.dao..*.remove(..)))" />
		</aop:aspect>
	</aop:config>
	
	<bean id="daoCreateOrUpdateInterceptor" class="com.scp.aop.DaoCreateOrUpdateInterceptor" />
	<aop:config>
		<aop:aspect id="createOrUpdateAspect" ref="daoCreateOrUpdateInterceptor">
			<aop:before method="doBasicProfiling"
				pointcut="execution(public * com.scp.dao..*.createOr*(..))" />
		</aop:aspect>
	</aop:config>
</beans>
