<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

   <dubbo:application name="ufms-soa-core" owner="ufms" organization="HXKJ"/>

    <dubbo:registry address="zookeeper://120.79.85.155:2181?backup=112.74.174.51:2181,47.75.91.128:2181" timeout="100000"/>
    
    <dubbo:protocol name="dubbo" serialization="kryo" optimizer="com.ufms.soa.util.SerializationOptimizerImpl" />

	<dubbo:reference id="commonService" check="false" interface="com.ufms.soa.service.CommonService" ></dubbo:reference>
	<!--<dubbo:reference id="trackService" check="false" interface="com.ufms.soa.service.TrackService"></dubbo:reference>
	<dubbo:reference id="weiXinService" check="false" interface="com.ufms.soa.service.WeiXinService"></dubbo:reference>
	<dubbo:reference id="fileService" check="false" interface="com.ufms.soa.service.FileService"></dubbo:reference>
	-->
</beans>